


body {
    margin: 0;
    overflow-x: hidden;
    background: #eee;    
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: Avenir, sans-serif;
}



a {
    text-decoration: none;
    color: rgb(207, 207, 207);
}


.footer {
    position: absolute;
    bottom: 30;
    display: flex;
    left: 48%;
    gap: 30px;
    z-index: 9999;
    align-items: center;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }




.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column; 
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 0 2em;

    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 0.6rem;
    }

    h3 {
        font-size: 1rem;

        opacity: 0.6;
    }
}
.et-hero-tabs-container {
    display: flex;
    overflow-x: hidden;

    flex-direction: row;
    position: fixed; /* Remplacez sticky par fixed */
    top: 0; /* Fixez l'élément en haut */
    left: 0; /* Fixez l'élément à gauche (peut être ajusté selon vos besoins) */
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}
.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;

    &:hover {
        color: white;
        background: rgb(0, 0, 0);
        transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #000000;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {

    .et-hero-tabs,
    .et-slide {
        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1rem;
        }
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}













.item-1,
.item-2,
.item-3 {
    position: absolute;
    display: block;
    right: 0;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1 {
    animation-name: anim-1;
}

.item-2 {
    animation-name: anim-2;
}

.item-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {

    0%,
    8.3% {
        left: -100%;
        opacity: 0;
    }

    8.3%,
    25% {
        left: 25%;
        opacity: 1;
    }

    33.33%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-2 {

    0%,
    33.33% {
        left: -100%;
        opacity: 0;
    }

    41.63%,
    58.29% {
        left: 25%;
        opacity: 1;
    }

    66.66%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-3 {

    0%,
    66.66% {
        left: -100%;
        opacity: 0;
    }

    74.96%,
    91.62% {
        left: 25%;
        opacity: 1;
    }

    100% {
        left: 110%;
        opacity: 0;
    }
}


button {
    max-width:10px;

    padding: 1px 30px;
    color: #000000;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
    color: #FFF;
}

:root {
    --bg-color: #fff;
    --p-color: #fff;
    --a-color: #fff;
    --a-hover-color: #fff;
    --citation-bg-color: #fff;
    --citation-p-color: #fff;
    --citation-a-color: #fff;
    --citation-a-hover-color: #fff;
  }
  
  

.wrapper1 {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 700px;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 200px;
  }
  
  /* Media query pour cacher les éléments lorsque la largeur est inférieure à 500px */
  @media (max-width: 500px) {
  
    .wrapper1,
    .wrapper {
      display: none;
    }
  }


  #tab-flexbox{
    background: #000000;

    color: white;

  }

  .ciao-frames {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    justify-content: space-evenly;
    width: 80%;
  
    max-width: 800px;
    height: 400px;
  }
  
  .frame {
    width: 400px;
    height: 200px;
    margin: 2px;
    display: block;
    background: transparent url("../photo/ciao-frames.png") 0 0 no-repeat;
  }
  
  #one {
    -webkit-animation: letterI 1s steps(12) infinite;
    animation: letterI 1s steps(12) infinite;
  
  }
  
  #two {
    -webkit-animation: letterS 1s steps(12) infinite;
    animation: letterS 1s steps(12) infinite;
  }
  
  #three {
    -webkit-animation: letterF 1s steps(12) infinite;
    animation: letterF 1s steps(12) infinite;
  }
  
  #four {
    -webkit-animation: letterF 1s steps(12) infinite;
    animation: letterF 1s steps(12) infinite;
  }
  
  @-webkit-keyframes letterI {
    0% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 0 -2400px;
    }
  }
  
  @keyframes letterI {
    0% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 0 -2400px;
    }
  }
  
  @-webkit-keyframes letterS {
    0% {
      background-position: -400px 0;
    }
  
    100% {
      background-position: -400px -2400px;
    }
  }
  
  @keyframes letterS {
    0% {
      background-position: -400px 0;
    }
  
    100% {
      background-position: -400px -2400px;
    }
  }
  
  @-webkit-keyframes letterF {
    0% {
      background-position: -800px 0;
    }
  
    100% {
      background-position: -800px -2400px;
    }
  }
  
  @keyframes letterF {
    0% {
      background-position: -800px 0;
    }
  
    100% {
      background-position: -800px -2400px;
    }
  }
  
  @-webkit-keyframes letterO {
    0% {
      background-position: -1200px 0;
    }
  
    100% {
      background-position: -1200px -2400px;
    }
  }
  
  @keyframes letterO {
    0% {
      background-position: -1200px 0;
    }
  
    100% {
      background-position: -1200px -2400px;
    }
  }


video{
    border-radius: 24px;
}

.contain{
    align-items: center;
    padding: 5%;
    gap: 14px;
}
footer {
    position:fixed;
    bottom: 48px;
    left: 14px;
    display: flex;
    z-index: 9999;
}



/* Pour les PC */
@media screen and (min-width: 768px) {
    video {
        width: 810px;
    }
}

/* Pour les téléphones */
@media screen and (max-width: 767px) {
    video {
        width: 100%; /* Ceci rendra la vidéo prendre la largeur complète de l'écran */
    }
}
.espace{
    margin: 24px;
}



/*

Tutorial:
https://www.roboleary.net/animation/2022/10/31/how-to-make-a-slick-animation-schitts-creek-title-sequence.html

Part of Title Sequences collection:
https://codepen.io/collection/nNmwgP

Source code:
https://github.com/robole/title-sequences

*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
}



.h1 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 8rem;
  display: flex;
  line-height: 0.85;
  perspective: 500px;
}

.word {
  display: block;

  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;

  animation-delay: 1.5s;

  color: gold;
}

.superscript {
  position: relative;
  animation-delay: 3.6s;

  animation-duration: 0.25s;
  animation-name: shimmer;

  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;

  position: absolute;

  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;

  animation: bar-scale 0.25s linear 3s 1 forwards;

  background: linear-gradient(
    to right,
    white var(--bar-width),
    transparent var(--bar-width) calc(100% - var(--bar-width)),
    white calc(100% - var(--bar-width))
  );

  content: "";

  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;

  position: absolute;

  top: -5%;
  left: -85%;

  width: var(--size);
  height: var(--size);

  animation: sparkle 0.4s linear 3.5s 1 forwards;

  background: radial-gradient(
      circle at center,
      rgb(252 249 241 / 94%) 0% 7%,
      transparent 7% 100%
    ),
    conic-gradient(
      transparent 0deg 18deg,
      var(--sparkle-color) 18deg,
      transparent 20deg 40deg,
      var(--sparkle-color) 40deg,
      transparent 43deg 87deg,
      var(--sparkle-color) 87deg,
      transparent 95deg 175deg,
      var(--sparkle-color) 175deg,
      transparent 178deg 220deg,
      var(--sparkle-color) 220deg,
      transparent 222deg 270deg,
      var(--sparkle-color) 270deg,
      transparent 275deg 300deg,
      var(--sparkle-color) 300deg,
      transparent 303deg 360deg
    );

  border-radius: 50%;
  clip-path: polygon(
    50% 0,
    59.13% 26.64%,
    85.13% -2.35%,
    100% 50%,
    50% 100%,
    0 50%,
    31.39% 34.86%
  );

  content: "";

  filter: blur(1px);

  transform: scale(0);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  /* sparkle */
  .superscript::after {
    --size: 6rem;
  }
}
*{
  font-family: FUTURA65MEDIUM;
}
@font-face {
  font-family: 'FUTURA65MEDIUM';
  src: url('../futura/FUTURA65MEDIUM.TTF');
}

